<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label> <input type="text" 
    class="form-control mr-2" 
    placeholder="buscar"
    [(ngModel)]="filtroLista">    
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()" >
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>        
      </button>
    </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </tr>
</thead>  
<tbody *ngIf="eventos && eventos.length">
  <tr *ngFor="let evento of eventosFiltrados">
    <td>
      <img *ngIf="mostrarImagem"
      src="http://localhost:5000/img/{{evento.imagemURL}}"
      [style.width.px]="imagemLargura"
      [style.margin.px]="imagemMargem">
    </td>
    <td>{{evento.id}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
    <td>{{evento.qtdPessoas}}</td>
    <td>
      <div *ngIf="!evento.lotes.length">
        Não Informado
      </div>
      <div *ngIf="evento.lotes.length">
        {{evento.lotes[0].nome | uppercase}}
      </div>
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-success" 
        tooltip="Editar" (click)="openModal(template)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-sm btn-danger" tooltip="Excluir">
          <i class="fa fa-eraser"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody> 
<tfoot *ngIf="!eventos.length">
  <tr>
    <td colspan="7" class="text-center">
      <h4>
        Nenhum evento encontrado!
      </h4>
    </td>
  </tr>
</tfoot> 
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" 
    aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  This is a modal.
</div>
</ng-template>