<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ProAgil Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Palestrantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contatos</a>
        </li>        
      </ul>     
    </div>
    
    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vinícius
      </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">
          Perfil
        </a>
        <div role="separator" class="divider"></div>
        <a class="dropdown-item" href="#">
          Sair
        </a>
      </div>
    </li>
  </ul>
  
</div>
</nav>
