<div class="container mt-4">
  <div class="row mbr-justify-content-center">

    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-volume-up fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Encontre <span>sua Audiência</span></h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Utilize o sistema de Eventos ProAgil e Seja visto por muito mais pessoas, gerenciando de maneira exemplar!</p>
            </div>
          </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Crie
                    <span>um Time Efetivo</span>
                </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Eventos com palestrantes capacitados com certeza serão muito melhores que sem eles.</p>
              </div>
            </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-globe fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Lançamento
                    <span>Unico de Projetos</span>
                </h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Projetos que são lançados em eventos tem 95% de chance a mais, diz estudo!</p>
              </div>
            </a>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <a href="#" class="wrap">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-trophy fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Alcance <span>Seus Objetivos</span></h2>
                <p class="mbr-fonts-style text1 mbr-text display-6">Quando os eventos tem a possibilidade de dar premiação a participantes e palestrantes é muito melhor!</p>
            </div>
          </a>
    </div>
</div>
